TAGS
*.elc
/mpd/*
/ncmpcpp/*
/Emacs/.config/emacs/transient/*
/Emacs/.config/emacs/straight/*
/Emacs/.config/emacs/elpa/
/Doom/.config/doom/org/*.el
/Doom/.config/doom/modules/private/bindings/*.el
/Emacs/.config/emacs/.config
/Emacs/.config/emacs/.local
/Emacs/.config/emacs/.mail/
/Doom/.config/doom/bookmarks
/Emacs/.config/emacs/config.el
