*.elc
*.socket
*.targets.wants.*
Doom/.config/doom/bookmarks
Doom/.config/doom/modules/private/bindings/*.el
Doom/.config/doom/org/*.el
Emacs/.config/emacs/.config/custom.el
Emacs/.config/emacs/.local/
Emacs/.config/emacs/.mail/
Emacs/.config/emacs/.var/
Emacs/.config/emacs/config.el
Emacs/.config/emacs/eglot-eclipse-jdt-cache/
Emacs/.config/emacs/elisp/opam-user-setup.el
Emacs/.config/emacs/eln-cache/
Emacs/.config/emacs/elpa/
Emacs/.config/emacs/lang.el
Emacs/.config/emacs/straight/*
Emacs/.config/emacs/transient/*
Emacs/.config/emacs/tree-sitter/
Mail/.local/share/mail/
Pictures/
SystemD/
TAGS
mpd/*
ncmpcpp/*
