# .clang-format -*- mode: yaml; lexical-binding: t; -*-
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 2
NamespaceIndentation: All
