[Unit]
Description=Emacs

[Service]
Type=notify
ExecStart=%h/.local/scripts/with-user-env /usr/local/bin/emacs --fg-daemon
Restart=on-failure
SuccessExitStatus=15
TimeoutStartSec=0

[Install]
WantedBy=default.target
