[Unit]
Description=Emacs

[Service]
Type=forking
ExecStart=/usr/local/bin/emacs --bg-daemon
ExecStop=/usr/local/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=default.target
